<html>
<head>
</head>
<body>
  <div class="navigation">
    <ul>
     <!--  <li><a href="/login" class="index">Login</a></li>
      <li><a href="/signup" class='index'>Signup</a></li> -->
      <li><a href='/search' class='index'>Search</a></li>
      <li><a href="/logout" class='index'>Logout</a></li>
    </ul>
  </div>
  <h1>PROFILE</h1>
</body>
</html>